@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  display: block;
  padding: 0px;
  /* margin-bottom: -200px !important; */
  overflow-x: hidden;
}

html {
  padding: 0px;
  margin: 0px;
}

#__nuxt {
  padding: 0px;
  margin: 0px;
}

a {
  font-family: 'Teko', sans-serif;
  color: inherit;
  text-transform: none;
}

a:hover {
  font-style: italics;
}

h5 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

h4 {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}

